html {
	padding: 0;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

* {
	box-sizing: border-box;
}

#navbar-header {
	background-color: #343a40;
}

#navbar-header-left {
	position: relative;
	width: 100%;
	padding: 1.5rem 15px;
}

#navbar-header h4 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	color: #ffffff;
}

#navbar-header-left p {
	color: #6c757d;
}

#navbar-header-right {
	position: relative;
	width: 100%;
	padding: 1.5rem 15px;
}

#navbar-header-right ul {
	padding-left: 0;
	list-style: none;
}

#navbar-header-right a {
	color: #ffffff;
	text-decoration: none;
}

#navbar {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: .5rem 1rem;
	margin: 0;
	background-color: #343a40;
	color: #ffffff;
}

#navbar .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#navbar-left {
	display: flex;
}

#navbar-left a {
	display: flex;
	align-items: center;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

#navbar-left a #navbar-logo {
	margin-right: 0.5rem;
}

#navbar-menu {
	display: flex;
	float: right;
	align-items: center;
}

#navbar-menu-button {
	padding: .25rem .75rem;
	font-size: 1.25rem;
	color: rgba(255,255,255,.5);
	border: 1px solid rgba(255,255,255,.1);
	border-radius: .25rem;
	background-color: transparent;
	line-height: 1px;
}

#navbar-menu-icon {
	display: inline-block;
	vertical-align: center;
}

#center {
	display: block;
	padding-top: 3rem;
	padding-bottom: 3rem;
	box-sizing: border-box;
	text-align: center;
}

#center .container {
	display: block;
	max-width: 40rem;
}

#center h1 {
	margin-top: 0;
	margin-bottom: .5rem;
	line-height: 1.2;
	font-weight: 300;
	font-size: 2.5rem;
}

#center p {
	margin-top: 0;
	margin-bottom: 1rem;
	color: #6c757d;
	font-size: 1.25rem;
	font-weight: 300;
}

#center-action-group {
	margin-top: 0;
	margin-bottom: 0;
}

#center-action-group a {
	display: inline-block;
	margin-top: .5rem;
	margin-bottom: .5rem;
	padding: .375rem .75rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	font-weight: 400;
	font-size: 1rem;
	text-align: center;
	vertical-align: center;
	user-select: none;
	line-height: 1.5;
}

#main {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #f8f9fa;
}

#footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#footer p {
	color: #6c757d;
}

#footer a {
	color: #007bff;
	text-decoration: none;
}

#back-to-top {
	float: right;
}

.collapse:not(.show) {
	display: none;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin: .5rem auto;
}

.button-primary {
	color: #ffffff;
	background-color: #007bff;
	border-color: #007bff;
}

.button-primary:hover {
	color: #ffffff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.button-secondary {
	color: #ffffff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.button-secondary:hover {
	color: #ffffff;
	background-color: #5a6268;
	border-color: #545b62;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.card {
	display: flex;
	position: relative;
	flex-direction: column;
	min-width: 0;
	margin-bottom: 1.5rem;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	background-color: #ffffff;
	background-clip: border-box;
	word-wrap: break-word;
}

.card-img {
	flex-shrink: 0;
	width: 100%;
	overflow: hidden;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
	font-size: 1.125rem;
	text-anchor: middle;
	user-select: none;
}

.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.25rem;
}

.card-body-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-button-group {
	display: inline-flex;
	position: relative;
}

.card-button-group button {
	position: relative;
	flex: 1 1 auto;
	padding: .25rem .5rem;
	border: 1px solid #6c757d;
	border-radius: .2rem;
	color: #6c757d;
	background-color: transparent;
	font-size: .875rem;
	line-height: 1.5;
}

.card-button-group button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.card-button-group button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}


.card-button-group button:hover {
	color: #ffffff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.card-body-bottom small {
	color: #6c757d;
}

@media (min-width: 576px) {
	#navbar-header-left{
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	#navbar-header-right {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	#center {
		padding: 4rem 2rem;
	}
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	#navbar-header-left {
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	#navbar-header-right {
		margin-left: 8.333333%;
	}
	#center {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	.container {
		max-width: 720px;
	}
	.col {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
